
export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/gcr/ssh

export GPG_TTY="$TTY"

systemctl --user import-environment GPG_TTY SSH_AUTH_SOCK

dbus-update-activation-environment --all

##### gnome keyring is unlocked with pam #####################

#if ! pgrep -a "keyring" > /dev/null; then
eval "$(/usr/bin/gnome-keyring-daemon --replace --daemonize --components=pkcs11,secrets,ssh,gpg)"
#fi

##############################################################
export GNOME_KEYRING_CONTROL GNOME_KEYRING_PID GPG_AGENT_INFO SSH_AUTH_SOCK

export NO_AT_BRIDGE=1
export QT_SCALE_FACTOR=1.0
export QT_FONT_DPI=96
export QT_QPA_PLATFORMTHEME=qt5ct
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

export ECASOUND=ecasound
export LADSPA_PATH="/usr/lib/ladspa"
export LADSPA_RDF_PATH="/usr/share/ladspa/rdf"
export RAY_PARENT_SCRIPT_DIR="$HOME/Sessions/ray-scripts"
export VAMP_PATH="/usr/local/share/vamp"

if [ -x "$(command -v google-chrome-stable)" ]; then
export BROWSER="google-chrome-stable"
fi

if [ -x "$(command -v most)" ]; then
export PAGER=most
fi

if [ -x "$(command -v hostname)" ]; then
export HOSTNAME=$(hostname)
fi

export PATH="$PATH:$HOME/.rvm/bin"

[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"
