{% if btrfs_exists|default(false)|bool == true %}
{% if ansible_hostname == 'ninjabot' %}
MODULES=(crc32c-intel btrfs intel_agp i915 nvidia nvidia_modeset nvidia_uvm nvidia_drm)
{% else %}
MODULES=(crc32c-intel btrfs intel_agp i915 amdgpu radeon nouveau)
{% endif %}
BINARIES=(/usr/bin/btrfs)
{% else %}
MODULES=(crc32c-intel intel_agp i915 amdgpu radeon nouveau)
BINARIES=()
{% endif %}
FILES=()
HOOKS=(base systemd autodetect keyboard keymap modconf block filesystems fsck mdadm_udev)
COMPRESSION="zstd"
COMPRESSION_OPTIONS=(-2)
