file://{{ user.home }}/Pictures
file://{{ user.home }}/Studio
file://{{ user.home }}/Studio/Library
file://{{ user.home }}/Notebook
file://{{ user.home }}/Workspace
file://{{ user.home }}/Downloads
file://{{ user.home }}/Documents
file://{{ autofs_client.host }}/{{ user.name }}/Archive
